@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
    font-family: roboto, sans-serif;
}

.escondido {
    display: none;
}

/* Header do Buzzquizz */
header {
    width: 100%;
    height: 69px;
    background-color: #EC362D;
    padding-top: 13px;
    box-sizing: border-box;

    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

/* página inicial do buzzquizz */
.pagina-inicial {
    margin-top: 69px;
}

.container-criar-quiz {
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    box-sizing: border-box;
    border-radius: 5px;
    width: 1051px;
    height: 181px;
    margin: 146px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.container-criar-quiz p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #B9B9B9;
    width: 250px;
}

.btn-criar-quiz {
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;
    width: 151px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    color: #EC362D;
}

.container-quiz {
    width: 1051px;
    height: 181px;
    margin: 77px auto 0 auto;

}

.container-quiz h1 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.listagem-quizzes{
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.quiz-listado{
    position: relative;
    box-sizing: border-box;
    margin-bottom: 12px;
}

.quiz-listado img {
    width: 340px;
    height: 181px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    border-radius: 5px;
}

.quiz-listado h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    position: absolute;
    width: 300px;
    bottom: 0;
    padding-left: 20px;
}

/* CSS da página de criação de quizz - Informações Básicas (tela 3.1) */
.criacao-quizz {
    margin-top: 69px;
    margin-left: auto;
    margin-right: auto;
}

.criacao-quizz h1{
    margin-top: 71px;
    margin-bottom: 27px;
    font-weight: bold;
    font-size: 23px;
}

.infoBasica-criacao-quizz, .perguntas-criacao-quizz, .niveis-criacao-quizz {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.criacao-quizz input {
    width: 564px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 9px;
    font-style: italic;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
    padding: 10px;
}

.prosseguir {
    width: 368.86px;
    height: 54px;
    background: #EC362D;
    border-radius: 15px;
    border:none;
    margin-top: 65px;
    font-size: 21px;
    color: #FFF5F4;
}

/* CSS da página de criação de quizz - Perguntas tela(3.2) */ 
h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-top: 25px;
    margin-bottom: 10px;
}

.iconeQuizz {
    font-size: 35px;
    color: #000000;
}

.conteudo {
    display: flex;
    flex-direction: column;
}

.nome-questao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 564px;
}

.nome-questao button {
    background-color: #FAFAFA;
    border: none;
}

.spaceCss {
    margin-top: 20px;
}


/* CSS da página de criação de quizz - Níveis tela(3.3)
Algumas classes são iguais as das anteriores */ 
.nivelDesc {
    height: 177px !important;
    padding-top: 10px;
}


/* CSS da página de criação de quizz - Sucesso tela(3.4)
Algumas classes são iguais as das anteriores */ 
.containerFinalizado{
    position: relative;
    margin-bottom: 12px;
    border-radius: 5px;
    width: 500px;
    height: 266px;
    background: linear-gradient(transparent, black);
}

.quarta-pagina .descricao-quizz-criado{
    position: absolute;
    left: 18px;
    bottom: 10px;
    word-break: break-word;
    width: 301px;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
}

.imagem-fundo-quizz {
    width: 500px;
    height: 266px;
    border-radius: 5px;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

/* Botão de voltar para o início da página */
.voltar-inicio-pagina {
    margin-top: 25px;
    font-size: 21px;
    line-height: 25px; 
    text-align: center;
    color: #818181;
}

/* Comportamento das respostas escolhidas no quizz */
.fog {
    opacity: 0.3;
}

/* Tela de resultado após o usuário ter respondido um quizz */
.resultado-pagina-quizz {
    width: 760px;
    height: 430px;
    padding: 18px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
}

.descricao-resultado-quizz {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EC362D;

    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    word-break: break-word;
    color: #FFFFFF;
}

.informacao-resultado-quizz {
    display: flex;
    margin-top: 18px;
}
.informacao-resultado-quizz img {
    width: 364px;
    height: 273px;
    object-fit: cover;
    margin-right: 15px;
}
.informacao-resultado-quizz p {
    font-weight: bold;
    font-size: 19px;
    line-height: 25px;
    word-break: break-word;
    color: #484848;   
}

@media (max-width: 1100px) {

/* Página de criacao de quizz (Versão mobile) */
.criacao-quizz input {
    width: 341px;
}

.prosseguir {
    width: 324px;
}

.imagem-fundo-quizz{
    width: 340px;
}

.nome-questao {
    width: 375px;
}
}
